* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.green {
    color: #3cb878;
}

.background {
    background: url("../Img/background.png") no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
    height: 100vh;
}
.header {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo:hover {
    color: #3cb878;
    transition: 1s;
}
.header-icons {
    width: 100px;
    height: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.calendar {
    background-image: url("../Img/css_sprites.png");
    background-position: -5px -3px;
    width: 30px;
    height: 30px;
}

.compass {
    background-image: url("../Img/css_sprites.png");
    background-position: -45px -3px;
    width: 30px;
    height: 30px;
}

.forum {
    background-image: url("../Img/css_sprites.png");
    background-position: -90px -3px;
    width: 30px;
    height: 30px;
}

.calendar:hover {
    background-image: url("../Img/green_sprites.png");
    background-position: -5px -3px;
    width: 30px;
    height: 30px;
}

.compass:hover {
    background-image: url("../Img/green_sprites.png");
    background-position: -45px -3px;
    width: 30px;
    height: 30px;
}

.forum:hover {
    background-image: url("../Img/green_sprites.png");
    background-position: -90px -3px;
    width: 30px;
    height: 30px;
}

.header-register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.sign-up {
    width: 450px;
    background-color: white;
    color: black;
    margin: 80px auto;
    padding: 30px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.signup-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}
.signup-head::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    position:absolute;
    top:5px;
    left:-70px;
}


.sign-up-text {
    font-size: 25px;
}

.log-in  {
    font-size: 16px;
}

.social-btns {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.social-btns i {
    padding: 5px 10px;
    margin-right: 8px;
}


.fb {
    background-color: #305db8;
    width: 49%;
    border-radius: 5px;
    padding: 20px 0;
    text-decoration: none;
    color: white;
}

.fb i {
    border-right: 1px solid #224387;
    margin-left: 5px;
}

.google i {
    border-right: 1px solid #af3a28;
}

.google {
    background-color: #df4a32;
    width: 49%;
    border-radius: 5px;
    padding: 20px 0;
    text-decoration: none;
    color: white;
}

.or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.or p {
    color: #848484;
}
.line {
    height: 2px;
    background-color: #eaeaea;
    width: 43%;
}

.sign-up input {
    width: 100%;
    height: 50px;
    border: 1px solid #eaeaea;
    margin-top: 10px;
    opacity: 0.5;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
}

.sign-up input:focus {
    box-shadow: 10px 10px 15px;
    outline: 0;
}



input[type="checkbox"] {
    width: 5px;
}
.conditions {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.conditions input {
    padding: 0;
    padding-right: 40px;
    width: 20px;
    height: 20px;
    margin-top: 0;
}
.conditions input:focus {
    box-shadow: none;
    outline: 0;
}


.creat-account {
    width: 100%;
    background-color: #3cb878;
    color: white;
    padding: 20px 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
